.sunshiney-regular {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    background-image:url(images/pinky.jpg);
    overflow-x: hidden;
    background-size: 1100px;
    overflow-y: hidden;
}



.start{
    position: absolute;
    left: 30%;
    background-color: #fffcfe;
    border: solid #feb1cb ;
    text-decoration: none;
    border-radius: 25px;
    font-size: 50px;
    font-family: "Sunshiney", cursive;
    border-width: 4px;
    top: 45%;
    cursor:pointer;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 25px;
    padding-top: 25px;
}

button a{
    text-decoration: none;
    color:#feb1cb;
}
.start:hover{
    transform: scale(1.1);
}